{% extends 'base.html' %}

{% block title %}تسجيل الدخول{% endblock %}

{% block body %}
<div class="login-page">
    <div class="form-container">
    <div class="login-action">
    <form method="POST">
        {{ form.hidden_tag() }}
        {% if form.errors %}
            <div class="error">
                {% for field, errors in form.errors.items() %}
                    {% for error in errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                {% endfor %}
            </div>
        {% endif %}
        <div class="login-field">
            {{ form.username.label(class="form-control-label") }}
            {{ form.username(class="form-control form-control-lg") }}
        </div>
        <div class="login-field">
            {{ form.password.label(class="form-control-label") }}
            {{ form.password(class="form-control form-control-lg") }}
        </div>
        <div class="login-action">
            {{ form.submit(class="btn btn-primary btn-lg") }}
        </div>
    </form>
    <p>ليس لديك حساب؟ <a href="{{ url_for('register') }}">سجل هنا</a>.</p>
</div>

{% endblock %}
