{% extends "base.html" %}
{% block title %}Online Auction Website{% endblock %}
{% block body %}
<!-- Main body -->
<div class="main-body">
    <!-- Static images container -->
    <div class="static-images-container w-full max-w-screen-lg mx-auto overflow-hidden">
        <!-- Images here -->
        <img class="static-image" src="{{ url_for('static', filename='aaa.png') }}" alt="Image 1">
        <img class="static-image" src="{{ url_for('static', filename='3.png') }}" alt="Image 2">
        <img class="static-image" src="{{ url_for('static', filename='2.png') }}" alt="Image 3">
        <!-- More images can be added here -->
    </div>
    <!-- Other content here -->
</div>
{% endblock %}
{% block styles %}
{{ super() }}
<style>
    .static-images-container {
        width: 100%;
        margin: auto;
    }
    .static-image {
        width: 100%;
        height: auto;
        display: none;
    }
    .static-image:first-child {
        display: block;
    }
</style>
{% endblock %}
{% block extra_scripts %}
{{ super() }}
<script>
// Hide all images except the first one initially
document.addEventListener('DOMContentLoaded', function() {
    var slides = document.querySelectorAll('.static-image');
    for (var i = 1; i < slides.length; i++) {
        slides[i].style.display = 'none';
    }
    var currentSlide = 0;
    var slideInterval = setInterval(nextSlide, 3000);

    function nextSlide() {
        slides[currentSlide].style.display = 'none';
        currentSlide = (currentSlide + 1) % slides.length;
        slides[currentSlide].style.display = 'block';
    }
});
</script>
{% endblock %}
