{% extends 'base.html' %}

{% block title %}التسجيل{% endblock %}

{% block body %}
<div class="register-page">
    <div class="form-container">
        <h2 class="text-center mb-4">التسجيل</h2>
        <form method="POST" class="register-form">
            {{ form.hidden_tag() }}
            <div class="register-field">
                <div class="form-label">
                    {{ form.username.label }}
                </div>
                <div class="form-input">
                    {{ form.username(class="form-control") }}
                </div>
            </div>
            <div class="register-field">
                <div class="form-label">
                    {{ form.email.label }}
                </div>
                <div class="form-input">
                    {{ form.email(class="form-control") }}
                </div>
            </div>
            <div class="register-field">
                <div class="form-label">
                    {{ form.password.label }}
                </div>
                <div class="form-input">
                    {{ form.password(class="form-control") }}
                </div>
            </div>
            <div class="register-field">  <!-- Add this section for the phone number -->
                <div class="form-label">
                    {{ form.phone_number.label }}
                </div>
                <div class="form-input">
                    {{ form.phone_number(class="form-control") }}
                </div>
            </div>
            <div class="register-action">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
        <p class="alternate-action">هل لديك حساب بالفعل؟ <a href="{{ url_for('login') }}">سجل الدخول هنا</a>.</p>
    </div>
</div>
{% endblock %}
