{% extends 'base.html' %}

{% block title %}الصفحة الشخصية{% endblock %}

{% block body %}
<div class="container">
    <div class="row rtl-layout"> <!-- The 'rtl-layout' class will ensure proper RTL styling -->
        <!-- Sidebar Menu -->
        <div class="col-md-3 sidebar">
            <h3>القائمة</h3>
            <ul>
                <li><a href="{{ url_for('user_information') }}">المعلومات الشخصية</a></li>
                <li><a href="{{ url_for('user_details') }}">العمليات</a></li>
                <!-- More links as needed -->
            </ul>
        </div>
        <!-- Main Content Area -->
        <div class="col-md-9">
            <h1>المنتجات التي تم المزايدة عليها والتي تم بيعها</h1>
            {% if items_bought or items_sold %}
            <div class="table-responsive">
                <table class="item-table" dir="rtl">
                      <thead>
                        <tr>
                            <th>الصورة</th>
                            <th>الاسم</th>
                            <th>الوقت المتبقي</th>
                            <th>المزايدة الابتدائية</th>
                            <th>الفئة</th>
                            <th>الحالة</th>
                            <th>الموقع</th>
                            <th>الرقم المرجعي</th>
                            <th>البائع/المشتري</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in items_bought %}
                        <tr>
                            <td><img src="{{ item.img }}" alt="{{ item.name }}" class="img-item img-small"></td>
                            <td>{{ item.name }}</td>
                            <td class="time-left" data-end-time="{{ item.end_time_iso }}">{{ item.time_left }}</td>
                            <td><span class="start-bid">{{ item.start_bid }}</span>ريال</td>
                            <td>{{ item.category }}</td>
                            <td>{{ item.condition }}</td>
                            <td>{{ item.location }}</td>
                            <td>{{ item.id }}</td>
                            <td class="buyer">المشتري</td>
                        </tr>
                        {% endfor %}
                        {% for item in items_sold %}
                        <tr>
                            <td><img src="{{ item.img }}" alt="{{ item.name }}" class="img-item img-small"></td>
                            <td>{{ item.name }}</td>
                            <td class="time-left" data-end-time="{{ item.end_time_iso }}">{{ item.time_left }}</td>
                            <td><span class="start-bid">{{ item.start_bid }} </span>ريال</td>
                            <td>{{ item.category }}</td>
                            <td>{{ item.condition }}</td>
                            <td>{{ item.location }}</td>
                            <td>{{ item.id }}</td>
                            <td class="seller">البائع</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
            <p>لايوجد منتجات تم شرائها أو تم بيعها.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block extra_scripts %}
<script>
document.addEventListener('DOMContentLoaded', function() {
    function updateAuctionTimes() {
        var items = document.querySelectorAll('.time-left');
        items.forEach(function(item) {
            var endTime = new Date(item.getAttribute('data-end-time'));
            var now = new Date();
            var timeLeft = endTime - now;

            // Check if the auction has ended
            if (timeLeft <= 0) {
                item.textContent = "المزاد انتهى";
            } else {
                // Calculate the remaining time
                var seconds = Math.floor(timeLeft / 1000);
                var minutes = Math.floor(seconds / 60);
                var hours = Math.floor(minutes / 60);
                var days = Math.floor(hours / 24);

                hours %= 24;
                minutes %= 60;
                seconds %= 60;

                var timeString = `${days} يوم ${hours} ساعة ${minutes} دقيقة ${seconds} ثانية`;

                // Update the display with the remaining time
                item.textContent = timeString;
            }
        });
    }

    // Update auction times initially
    updateAuctionTimes();

    // Update auction times every second
    setInterval(updateAuctionTimes, 1000);
});
</script>

{% endblock %}
